# Gemini API Key
GEMINI_API_KEY=

# Qdrant Configuration
QDRANT_URL=https://04f2af76-e4b5-444a-812b-54ea887b8150.us-east4-0.gcp.cloud.qdrant.io
QDRANT_API_KEY=

# Optional: Customize if needed
INCIDENTS_DIR=C:\agents\incident-management\incidents
COLLECTION_NAME=incident-knowledge-base

PAGERDUTY_API_TOKEN=
PAGERDUTY_EMAIL=

WEBHOOK_URL=http://localhost:8080/api/webhook